# Library API
DB_LIBRARY_HOST=oracle-library
DB_LIBRARY_PORT=1521
DB_LIBRARY_SERVICE=BOOKSDB
DB_LIBRARY_USER=library
DB_LIBRARY_PASSWORD=library123

# Scraper Service (Raw DB)
SCRAPING_RAW_HOST=oracle-raw
SCRAPING_RAW_PORT=1521
SCRAPING_RAW_SERVICE=BOOKSDB
SCRAPING_RAW_USER=raw_user
SCRAPING_RAW_PASSWORD=raw123

# Staging DB
STAGING_HOST=oracle-staging
STAGING_PORT=1521
STAGING_SERVICE=BOOKSDB
STAGING_USER=stg_user
STAGING_PASSWORD=stg123

# Integrator/MART DB
INTEGRATOR_HOST=oracle-integrator
INTEGRATOR_PORT=1521
INTEGRATOR_SERVICE=BOOKSDB
INTEGRATOR_USER=int_user
INTEGRATOR_PASSWORD=int123

# Airflow (optional)
AIRFLOW_UI=http://localhost:8080
